:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoLight;
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: Forum;
  src: url("../assets/fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: RobotoThin;
  src: url("../assets/fonts/Roboto-Thin.ttf");
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding: 75px 0;
}

.dark-section {
  background: var(--bg-dark);
}

.video-section {
  padding-top: 90px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  background: var(--bg-dark);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo {
  transition: 1s;
}

.logo:hover {
  transform: scale(1.1);
  fill: var(--font-gold);
}

.logo-text {
  font-family: Forum, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 0 25px;
}

.header-menu {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-family: RobotoThin, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 55px;
}

.nav-link:hover {
  color: var(--font-gold);
}

.nav-link:active {
  color: #7e6c51;
}

.welcome-section {
  overflow: hidden;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.welcome-text {
  margin-top: 150px;
  position: absolute;
  z-index: 2;
  background-color: var(--bg-dark);
  box-shadow: -195px 53px 100px 263px var(--bg-dark);
}

.welcome-title {
  width: 593px;
  height: 180px;
  text-align: left;
}

.dark-title {
  color: #ffffff;
}

.light-title {
  color: var(--font-gold);
}

.section-title {
  font-family: Forum, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font1);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--dark-red);
  border-radius: 0px;
}

.welcome-image {
  position: relative;
  margin-left: auto;
}

.welcome-description {
  font-family: RobotoLight, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 25px;
  text-align: left;
}

.welcome-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 360px;
  height: 75px;
  margin-top: 75px;
  font-family: RobotoLight, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
  background: var(--dark-red);
  border-radius: 10px;
}

.welcome-btn:hover {
  background: var(--font-gold);
}

.louvre-image {
  width: 100%;
}

.welcome-image {
  display: flex;
}

.welcome-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: -4px;
  bottom: -60px;
  padding: 40px 75px;
  background-color: var(--bg-dark);
  font-family: Roboto, sans-serif;
  font-size: 22px;
  color: #ffffff;
}

.slider-list {
  display: flex;
  width: 180px;
  justify-content: space-between;
  margin: 0 60px 0 55px;
}

.slider-item {
  border: 1 solid white;
  width: 16px;
  height: 16px;
  background: #ffffff;
}

.active {
  background: #d2b183;
}

.slider-arrows {
  display: flex;
}

.arrow-left {
  margin-right: 20px;
  cursor: pointer;
}

.arrow-right {
  cursor: pointer;
}

.arrow-left:hover,
.arrow-right:hover {
  fill: var(--font-gold);
}

.visiting-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 103px;
  column-gap: 60px;
  row-gap: 75px;
}

.visiting-item {
  display: block;
  text-decoration: none;
}

.visiting-img {
  width: 440px;
  height: 285px;
}

.visiting-title {
  font-family: Forum, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 22px;
}

.underline-title3 {
  position: relative;
}

.underline-title3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 300px;
  height: 3px;
  background: var(--dark-red);
  border-radius: 0px;
}

.visiting-text {
  font-family: RobotoThin, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-top: 10px;
}
